site_name: iMathus
site_url: https://iMath11.github.io/iMathus/
site_description: Advanced Mathematics Hub
site_author: iMath11

theme:
  name: material
  features:
    - content.code.annotate
    - navigation.indexes
    - navigation.tabs
    - navigation.top

plugins:
  - search
  - mkdocs-jupyter

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight
  - pymdownx.superfences
  - tables

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Algebraic Geometry: algebraic-geometry/
  - Number Theory: number-theory/
  - Algebraic Topology: algebraic-topology/
  - Arithmetic Algebra: arithmetic-algebra/
  - History: history/
